<form [formGroup]="form" (ngSubmit)="onSubmit()">
        
    <div class="form-group">
        <label for="username">username</label>
        <input 
            formControlName="username"
            id="username" 
            type="text" 
            class="form-control"
        >
        @if(f['username'].touched && f['username'].invalid)
        {
            <div class="alert alert-danger">
                @if(f['username'].errors && f['username'].errors['required'])
                {
                    <div >username is required</div>
                }
                @if(f['username'].errors && f['username'].errors['minlength'])
                {
                    <div >username should be at least 6 characters</div>
                }
            </div>
        }
    </div>   
    <div class="form-group">
        <label for="password">password</label>
        <input 
            formControlName="password"
            id="password" 
            type="text" 
            class="form-control"
        >
        @if(f['password'].touched && f['password'].invalid)
        {
            <div class="alert alert-danger">
                @if(f['password'].errors && f['password'].errors['required'])
                {
                    <div >username is required</div>
                }
                @if(f['password'].errors && f['password'].errors['minlength'])
                {
                    <div >username should be at least 8 characters</div>
                }
            </div>
        }
    </div>
    <div class="form-group">
        <label for="email">email</label>
        <input 
            formControlName="email"
            id="email" 
            type="text" 
            class="form-control"
        >
        @if(f['email'].touched && f['email'].invalid)
        {
            <div class="alert alert-danger">
                @if(f['email'].errors && f['email'].errors['required'])
                {
                    <div >email is required</div>
                }
                @else 
                {
                    <div >not a valid email </div>
                }
            </div>
        }
    </div>
    <div class="form-group">
        <label for="phone">phone</label>
        <input 
            formControlName="phone"
            id="phone" 
            type="text" 
            class="form-control"
        >
        @if(f['phone'].touched && f['phone'].invalid)
        {
            <div class="alert alert-danger">
                @if(f['phone'].errors && f['phone'].errors['required'])
                {
                    <div >phone is required</div>
                }
                @else 
                {
                    <div >not a valid phone number </div>
                }
            </div>
        }
    </div>
    <div class="form-group">
        <label for="country">country</label>
        <input 
            formControlName="country"
            id="country" 
            type="text" 
            class="form-control"
        >
        @if(f['country'].touched && f['country'].invalid)
        {
            <div class="alert alert-danger">
                @if(f['country'].errors && f['country'].errors['required'])
                {
                    <div >country is required</div>
                }
            </div>
        }
    </div>
    <button class="btn btn-primary" [disabled]="form.invalid" type="submit">
        @if(isSavingSigComp())
            {
            <div  class="loader"> loading content </div>
            }
        @else 
        {
        <span>
            signUp
        </span>
        }
    </button>
</form>

